{% extends 'base.html' %}

{% block title %}Adicionar Estoque à Sala {{ sala.nome }}{% endblock %}
{% block content %}
  <h1>Adicionar produto em {{ sala.nome }}</h1>
  <form method="post" novalidate>
    {% csrf_token %}

    <!-- Produto -->
    <div class="mb-3">
      <label for="{{ form.produto.id_for_label }}" class="form-label">
        Produto
      </label>
      {{ form.produto }}
      {% for err in form.produto.errors %}
        <div class="invalid-feedback d-block">{{ err }}</div>
      {% endfor %}
    </div>

    <!-- Quantidade -->
    <div class="mb-3">
      <label for="{{ form.quantidade.id_for_label }}" class="form-label">
        Quantidade
      </label>
      {{ form.quantidade }}
      {% for err in form.quantidade.errors %}
        <div class="invalid-feedback d-block">{{ err }}</div>
      {% endfor %}
    </div>

    <button type="submit" class="btn btn-primary">Adicionar</button>
    <a href="{% url 'camarim:estoque_sala_list' evento.id sala.id %}" class="btn btn-secondary">Cancelar</a>
  </form>
{% endblock %}
